body {
	font-family: 'Germania One', cursive;
	background-image: url("../images/dungeons-dragons-dice-roller-6275.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}