$black: #222222;
$blacker: #000000;
$white: #ffffff;
$yellow: #fcd251;

body {
	font-family: 'Germania One', cursive;
	background-image: url("./images/dungeons-dragons-dice-roller-6275.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron {
	padding:30px;
	text-align: center;
	background-image:url("./images/corrodedMetalPic.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	box-shadow: inset 0 0 30px $blacker;
	margin: 0;
}

.jumbotron h1 {
	text-shadow: -3px -2px 5px opacify($yellow, 0.8);
}

.accordion .card {
	background-color: #222222aa;
	color: $white;
}

.dice-tray {
	height: 100px;
}